<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body class="blue">
        {{ partial "nav.html" . }}
        <div class="padding-large">
            <header class="container padding-32 center blue">
                <h1 class="jumbo">{{ i18n "all_posts" }}</h1>
                <p>{{ i18n "post_subtitle" }}</p>
            </header>

            <div class="content center padding-64">
                {{ $paginator := .Paginate (where .Pages "Type" "post") }}
                {{ range .Paginator.Pages }}
                <div class="post-card  margin dark-grey">
                    {{ if .Params.image.feature }}
                        <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                            <img src="{{ .Params.image.feature | relURL }}" alt="{{ .Title }}" class="post-img">
                        </a>
                    {{ end }}
                    <div class="container">
                        <div class="post-title">
                            <div class="post-left-half">
                                <h2>
                                    {{ if .Params.link }}
                                        <a href="{{ .RelPermalink }}" class="permalink" rel="bookmark" title="{{ .Title }}"><i class="fa fa-bookmark"></i></a> 
                                        <a href="{{ .Params.link }}">{{ .Title }}</a>                          
                                    {{ else }}
                                        {{ .Title }}
                                    {{ end }}
                                </h2>
                            </div>
                            <div class="post-right-half">
                                {{ if (.Params.reading_time | default true) }}
                                    <span class="opacity">
                                        <i class="fa fa-clock-o"></i> Reading time ~{{ if le .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}
                                    </span>
                                {{ end }} 
                            </div>
                        </div>
                        <h6>
                            {{ .Description }},
                            {{ if gt .Date 0001 }}
                                <span class="opacity"><time datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time></span>
                            {{ end }}
                        </h6>
                        <p>{{ .Summary }}</p>
                        <p><a class="button-link light-grey content post-left" href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a><p>
                    </div>
                </div>
                {{ end }}
                {{ partial "pagination.html" . }}
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>