<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
    <body class="sh-black">
        {{ partial "nav.html" . }}
        <header class="sh-container sh-padding-32 sh-center sh-black">
            <h1 class="sh-jumbo">Welcome</h1>
            <p>Across the open source landscape and everything that moves me.</p>
        </header>
        <div class="sh-padding-large" id="main">
            <div class="sh-content sh-padding-64">
                <h2>Pages</h2>
                {{ range .Data.Pages }}
                    {{ if eq .Type "page"}}
                        <h3 class="sh-padding-16"><a href={{ .Permalink }}>{{ .Title }}</a></h3>
                    {{ end }}
                {{ end }}
                {{ partial "footer.html" . }}
            </div>
        </div>
    </body>
</html>
