<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
    <body class="sh-black">
        {{ partial "nav.html" . }}
        <header class="sh-container sh-padding-32 sh-center sh-black">
            <h1 class="sh-jumbo">Posts</h1>
        </header>
        <div class="sh-padding-large" id="posts">
            <div class="sh-content sh-padding-64">
                {{ range where .Paginator.Pages.ByDate.Reverse "Type" "post" }}
                    <div class="sh-margin sh-dark-grey">
                        {{ if .Params.image.feature }}
                            <a href="{{ .RelPermalink }}" title="{{ .Title }}"><img src="{{ .Params.image.feature | relURL }}" alt="{{ .Title }}" style="width:100%"></a>
                        {{ end }}
                        <div class="sh-container">
                            <div class="sh-post-title">
                                <div class="sh-left-half">
                                    <h2>
                                        {{ if .Params.link }}
                                            <a href="{{ .RelPermalink }}" class="permalink" rel="bookmark" title="{{ .Title }}"><i class="fa fa-bookmark"></i></a> 
                                            <a href="{{ .Params.link }}">{{ .Title }}</a>                          
                                        {{ else }}
                                            {{ .Title }}
                                        {{ end }}
                                    </h2>
                                </div>
                                <div class="sh-right-half">
                                    {{ if (.Params.reading_time | default true) }}
                                        <span class="sh-opacity">
                                            <i class="fa fa-clock-o"></i> Reading time ~{{ if le .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}
                                        </span>
                                    {{ end }} 
                                </div>
                            </div>
                            <h6>
                                {{ .Description }},
                                {{ if gt .Date 0001 }}
                                    <span class="sh-opacity"><time datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time></span>
                                {{ end }}
                            </h6>
                                                      
                            <p>{{ .Summary }}</p>
                            <p><a class="sh-button-link sh-light-grey sh-section sh-left" href="{{ .RelPermalink }}">read more</a><p>
                        </div>
                    </div>
                {{ end }}
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
