<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
    <body class="sh-black">
        {{ partial "nav.html" . }}
        <div class="sh-padding-large" id="main">
            <div id="indexhome">
                <header class="sh-container sh-padding-32 sh-center sh-black">
                    <h1 class="sh-jumbo">All Welcomes</h1>
                    <p>Everything that moves me.</p>
                </header>

                <div class="sh-content sh-padding-64">
                
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>