<div id="post">
    <header class="sh-container sh-padding-32 sh-center sh-black sh-content">
        <h1 class="sh-jumbo">
            {{ if .Params.link }}
                <i class="fa fa-bookmark permalink"></i> <a href="{{ .Params.link }}">{{ .Title }}</a>
            {{ else }}
                <a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a>
            {{ end }}
        </h1>
        {{ if gt .Date 0001 }} <!-- If Date is set (greater than year 0001) -->
            <h2><span><time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time></span></h2>
        {{ end }}
        {{ if (.Params.reading_time | default false) }}
            <p>
                <i class="fa fa-clock-o"></i>
                Reading time ~{{ if le .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}
            </p>
        {{ end }}
    </header>

    <div class="sh-padding-64 sh-content">
        {{ range where .Paginator.Pages "Type" "in" .Site.Params.mainSections }}
        <article>
            <header>
                {{ if .Params.image.feature }}
                    <a href="{{ .RelPermalink }}" title="{{ .Title }}"><img src="{{ .Params.image.feature | relURL }}" alt="{{ .Title }}"></a>
                {{ end }}
                <div>
                    {{ if gt .Date 0001 }} <!-- If Date is set (greater than year 0001) -->
                        <span><time datetime="{{ .Date }}"><a href="{{ .RelPermalink }}">{{ .Date.Format "Jan 2, 2006" }}</a></time></span>
                    {{ end }}
                    {{ if (.Params.reading_time | default true) }}
                        <span>
                            <i class="fa fa-clock-o"></i>
                            Reading time ~{{ if le .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}
                        </span><!-- /.entry-reading-time -->
                    {{ end }}
                </div>
                {{ if .Params.link }}
                    <h1><a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ .Params.link }}">{{ .Title }}</a></h1>
                {{ else }}
                    <h1><a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}" itemprop="url">{{ .Title }}</a></h1>
                {{ end }}
            </header>
            <div>
                {{ .Content }}
            </div>
        </article>
        {{ end }}
    </div>
</div>