<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body class="blue">
        {{ partial "nav.html" . }}
        <div class="padding-large">
            <header class="container padding-32 center black">
                <h1 class="jumbo">{{ .Title }}</h1>
            </header>
            <div class="content padding-64">
                {{ if isset .Params "soft_skills" }}
                    <p>{{ .Params.about_me }}</p>
                    <br>
                {{ end }}
                {{ if isset .Params "soft_skills" }}
                    <h2 class="padding-16">{{ i18n "soft_skills" }}</h2>
                    <p>
                        {{ range $i, $e := .Params.soft_skills }} - 
                        {{ $e }}
                        {{ end }} -
                    </p>
                    <br>
                {{ end }}
                {{ if isset .Params "programming_languages" }}
                    <h2 class="padding-16">{{ i18n "programming_language" }}</h2> 
                    <div class="flex-wrapper">
                        {{ range $i, $e := .Params.programming_languages }}
                        {{ $className := "circular-chart blue" }}

                        {{ if (le $e.percent 35) }}
                            {{ $className = "circular-chart orange" }}
                        {{ end }}
                        {{ if and (gt $e.percent 35) (lt $e.percent 70)}}
                            {{ $className = "circular-chart green" }}
                        {{ end }}  
                        {{ if (gt $e.percent 65) }}
                            {{ $className = "circular-chart blue" }}
                        {{ end }} 

                        <div class="single-chart">
                            <svg viewBox="0 0 36 36" class="{{ $className  }}">
                            <path class="circle-bg"
                                  d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                  />
                            <path class="circle"
                                  stroke-dasharray="{{ .percent }}, 100"
                                  d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                  />
                            <text x="18" y="20.35" class="percentage">{{ .percent }}%</text>
                            </svg>
                            {{ .title }}
                        </div>
                        {{ end }}
                    </div>
                    <br>
                    <br>
                {{ end }}
                {{ if isset .Params "work_experience" }}
                    <h2 class="padding-16">{{ i18n "activities" }}</h2>
                    <ul class="timeline">
                        {{ range $i, $e := .Params.work_experience }}
                        <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ .date }}</h4>
                                    <h4 class="subheading">{{ .title | markdownify }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ .description  | markdownify }}</p>
                                </div>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                    <br>
                {{ end }}
                {{ if isset .Params "miscellaneous_tags" }}
                    <h2 class="padding-16">{{ i18n "miscellaneous" }}</h2>
                    <p>{{ range $i, $e := .Params.miscellaneous_tags }}
                        - {{ $e }}
                        {{ end }} -
                    </p>
                    <br>
                {{ end }}
                {{ if isset .Params "miscellaneous_tags" }}
                    <h2 class="padding-16">{{ i18n "language" }}</h2>
                    {{ range $i, $e := .Params.languages }}               
                        <p class="wide">{{ .language}}</p>
                        <div class="white">
                            <div class="grey" style="height:28px;width:{{ .percent }}%"></div>
                        </div>
                    {{ end }}
                    <br>
                {{ end }}
                {{ if isset .Params "miscellaneous_tags" }}
                    <h2 class="padding-16">{{ i18n "hoppies" }}</h2>
                    <div class="row center padding-16 section light-grey">
                        {{.Params.activities}}
                    </div>
                {{ end }}
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
