<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
    <body class="sh-black">
        {{ partial "nav.html" . }}
        <div class="sh-padding-large" id="main">
            <div id="about">
                <header class="sh-container sh-padding-32 sh-center sh-black">
                    <h1 class="sh-jumbo"><span class="sh-hide-small">I'm</span> Sabina Hofmann.</h1>
                    <p>I know I don't know anything.</p>
                        {{ if .Site.Params.image }}                    
                               <img src="{{ .Site.Params.image | relURL }}" alt="{{ .Title }}" class="sh-image" width="35%" height="35%">
                        {{ end }}
                </header>

                <div class="sh-content sh-padding-64">
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Params.about_me }}</p>
                    <br>
                    <h2 class="sh-padding-16">Soft skills</h2>
                    {{ range $i, $e := .Params.soft_skills }}
                        - {{ $e }}
                    {{ end }} -
                    
                    <br>
                    <h2 class="sh-padding-16">Programming language</h2> 
                    <div class="sh-flex-wrapper">
                        {{ range $i, $e := .Params.programming_languages }}
                        {{ $className := "circular-chart blue" }}

                        {{ if (le $e.percent 35) }}
                        {{ $className = "circular-chart orange" }}
                        {{ end }}
                        {{ if (gt $e.percent 35) and (lt $e.percent 70)}}
                        {{ $className = "circular-chart green" }}
                        {{ end }}  
                        {{ if (gt $e.percent 65) }}
                        {{ $className = "circular-chart blue" }}
                        {{ end }} 

                        <div class="single-chart">
                            <svg viewBox="0 0 36 36" class="{{ $className  }}">
                            <path class="circle-bg"
                                  d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                  />
                            <path class="circle"
                                  stroke-dasharray="{{ .percent }}, 100"
                                  d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831"
                                  />
                            <text x="18" y="20.35" class="percentage">{{ .percent }}%</text>
                            </svg>
                            {{ .title }}
                        </div>
                        {{ end }}
                    </div>
                    <br> 
                    <h2 class="sh-padding-16">Miscellaneous</h2>
                    <div class="sh-flex-wrapper">
                        {{ range $i, $e := .Params.miscellaneous_tags }}
                        <span class="sh-tag">{{ $e }}</span>
                        {{ end }}
                    </div>
                    <br>    
                    <h2 class="sh-padding-16">Work experience</h2>
                    <ul class="timeline">
                        {{ range $i, $e := .Params.work_experience }}
                        <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ .date }}</h4>
                                    <h4 class="subheading">{{ .title | markdownify }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ .description  | markdownify }}</p>
                                </div>
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                    <br>
                    <h2 class="sh-padding-16">Language</h2>
                    <p class="sh-wide">German</p>
                    <div class="sh-white">
                        <div class="sh-grey" style="height:28px;width:95%"></div>
                    </div>
                    <p class="sh-wide">English</p>
                    <div class="sh-white">
                        <div class="sh-grey" style="height:28px;width:85%"></div>
                    </div>
                    <br>

                    <h2 class="sh-padding-16">Hobbies/Activities</h2>
                    <div class="sh-row sh-center sh-padding-16 sh-section sh-light-grey">
                        {{.Params.activities}}
                    </div>
                    <!-- End About Section -->
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>