  <!-- Contact Section -->
  <div class="sh-padding-64 sh-content" id="contact">
    <h2>Contact Me</h2>
    <hr style="width:200px" class="sh-opacity">

    <div class="sh-section">
      <p><i class="fa fa-map-marker fa-fw sh-xxlarge sh-margin-right"></i> Chicago, US</p>
      <p><i class="fa fa-phone fa-fw sh-xxlarge sh-margin-right"></i> Phone: +00 151515</p>
      <p><i class="fa fa-envelope fa-fw sh-xxlarge sh-margin-right"> </i> Email: mail@mail.com</p>
    </div><br>
    <p>Lets get in touch. Send me a message:</p>

    <form action="" target="_blank">
      <p><input class="sh-input sh-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="sh-input sh-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="sh-input sh-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="sh-input sh-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="sh-button sh-light-grey sh-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
