{{ "<!-- Footer section -->" | safeHTML }}
<footer class="sh-content sh-padding-64 sh-xlarge">
	<i class="fa fa-facebook-official sh-hover-opacity"></i>
	<i class="fa fa-instagram sh-hover-opacity"></i>
	<i class="fa fa-snapchat sh-hover-opacity"></i>
	<i class="fa fa-pinterest-p sh-hover-opacity"></i>
	<i class="fa fa-twitter sh-hover-opacity"></i>
	<i class="fa fa-linkedin sh-hover-opacity"></i>
	<p class="sh-medium">Created by <a href="https://github/sabinahofmann" target="_blank" class="sh-hover-text-green">black-case</a></p>
<!-- End footer -->
</footer>
