{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <div class="pagination center">
        <!-- Link for previous page -->
        {{ if $pag.HasPrev }}
            <a href="{{ $pag.Prev.URL }}">&laquo;</a>
        {{ end }}

        <!-- Middle pages -->
        {{ range $pag.Pagers }}
            {{ if eq $pag.PageNumber .PageNumber }}
                <a class="active">{{ .PageNumber }}</a>
            {{ else }}
                <a href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
        {{ end }}

        <!-- Next page button -->
        {{ if $pag.HasNext }}
            <a href="{{ $pag.Next.URL }}">&raquo;</a>
        {{ end }}
    </div>
{{ end }}
