<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
    <body class="sh-black">
        {{ partial "nav.html" . }}
        <div class="sh-padding-large" id="main">
            <div id="home">
                <header class="sh-container sh-padding-32 sh-center sh-black">
                    <h1 class="sh-jumbo">IT AND CO.</h1>
                    <p>Across the open source landscape and everything that moves me.</p>
                </header>

                <div class="h-padding-64 sh-content">
                    <br>
                    <p class="sh-center">Welcome to my site. You can expect a mix of web 
                        development and solutions that meet you during a 
                        working day. Besides you can find information about 
                        the general topic OpenSource and more. </p>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>